{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

<div class="popup popup_login mfp-zoom-in">
  <div class="login">
  {% block content %}
  {% if process == "connect" %}
    <div class="login__item">
      <div class="login__title h3">Sign in</div>
        <div class="login__info">{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</div>
          <div class="login__note">{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</div>
        {% else %}
      <div class="login__title h3">Sign in</div>
        <div class="login__info">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</div>
          <div class="login__note">{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</div>
        {% endif %}

        <form class="login__form" method="post">
          {% csrf_token %}
          <button class="button login__button" type="submit">{% trans "Continue" %}</button>
        </form>
    </div>
  {% endblock %}
  </div>
</div>

