.header__wrapper {
  border-left-color: transparent;
}

.login__status {
  margin-left: 1.5rem;
}

.main__preview__slider {
  border-radius: 1.5rem;
  overflow: hidden;
}

.floating__arrows__center .slick-arrow {
  background-color: #ffffff;
  top: 50%;
}

.floating__arrows__center .slick-prev {
  left: 1rem;
}

.floating__arrows__center .slick-next {
  right: 1rem;
}

.main__wrap {
  padding-top: 100px;
  padding-bottom: 100px;
}

.panel__controls .panel__button:hover,
.panel__controls .panel__button.active {
  box-shadow: inset 0 0 0 2px #e6e8ec;
  background: #e6e8ec;
  color: #23262f;
}

.panel__item__rounded {
  box-shadow: inset 0 0 0 1px #e6e8ec;
  border-radius: 1.5rem;
  transition: box-shadow 100ms ease-in;
  box-sizing: border-box;
}

.panel__item__rounded:hover {
  box-shadow: inset 0 0 0 1px #23262f;
}

.panel_stays .panel__item__rounded.datepicker__item {
  flex: 0 0 calc(50% - 0.25rem);
  width: calc(50% - 0.25rem);
}

.browse__info {
  max-width: 500px;
}

.browse__card__alt .browse__content {
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
}

.browse__card__alt .subscription__btn {
  position: static;
  flex-shrink: 0;
}

.browse__content .icon {
  fill: #ffffff;
}

.planing__buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.planing__button {
  text-decoration: none;
}

.planing__button img {
  max-width: 100%;
  height: auto;
}

.footer__menu__widget {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.footer__subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  gap: 0.5rem;
}

.footer__link {
  margin: 0.25rem 0;
  flex: 1;
  width: auto;
  font-weight: 400;
}

.footer__col:nth-child(3) {
  width: 256px;
  padding-left: 2rem;
}

.footer__logo {
  margin-top: 0;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 0.625rem;
}

.social__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50rem;
  background-color: #e6e8ec;
  transition: 200ms;
}

.social__link svg {
  width: auto;
  height: 0.75rem;
  transition: 50ms;
}

.social__link:hover {
  background-color: #118df0;
}

.social__link:hover svg {
  fill: #ffffff;
}

.footer__menu__sm {
  display: none;
}

.panel_stays,
.panel_flights,
.panel_tasks,
.panel_cars {
  margin-top: -260px;
}

.payment__methods {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__item[href] {
  margin-left: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.me__auto {
  margin-right: auto !important;
}

.header__wrapper {
  padding-left: 0;
}

.header__item_language {
  margin-left: 1.5rem;
}

.setting__item {
  display: block;
}

.icon {
  width: 16px;
  height: 16px;
  /* margin-right: 12px; */
  fill: #777e90;
  transition: fill 0.2s;
}

.contact__buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact__button {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.125);
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.contact__button.close svg {
  fill: #dd270f;
}

.contact__button > * {
  margin-right: 0;
}

.contact__card {
  box-shadow: 0px 32px 32px -12px rgba(15, 15, 15, 0.08);
  border-radius: 1.25rem;
  overflow: hidden;
}

.contact__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e8ec;
  padding: 1rem 2rem;
  gap: 0.5rem;
}

.contact__body {
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.contact__user__item .item__subtitle {
  color: #9099ad;
}

.setting__menu {
  display: flex;
}

.show__menu__button {
  display: none;
}

.pagination {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.pagination__page {
  border-radius: 0.5rem;
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.125);
}

.pagination__page:hover,
.pagination__page.active {
  background-color: #23262f;
  color: #ffffff;
}

.pagination__page:hover svg,
.pagination__page.active svg {
  fill: #ffffff;
}

.pagination__page > * {
  margin: 0;
}

.nice-select.field__input {
  line-height: 45px;
  margin-bottom: 2rem;
}

.panel__row {
  gap: 0.5rem 0.25rem;
}

.panel_flights .panel__row {
  padding-right: 0;
}

.panel_flights-category .panel__row > div,
.panel_flights .panel__row > div {
  flex: 0 0 calc(25% - 0.25rem) !important;
}

.panel_flights-category .panel__row > .datepicker:not(.datepicker__single),
.panel_flights .panel__row > .datepicker:not(.datepicker__single) {
  flex: 0 0 calc(50% - 0.25rem) !important;
}

.panel__row .datepicker__list {
  gap: 0.25rem;
}

.panel__search {
  right: 0.5rem;
}

.travelers__content {
  padding-right: 1.25rem;
}

.collapsible__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
}

.collapsible__header svg {
  transition: 300ms;
  transform: rotate(180deg);
  width: 2rem;
  height: 2rem;
}

.collapsible__header.collapsed svg {
  transform: rotate(0);
}

.collapsible__header > * {
  margin-bottom: 0;
}

.collapsible__body {
  padding-top: 1.5rem;
}

.flights__box {
  padding-bottom: 2rem;
}

.flights__box:not(:last-child) {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.panel_flights-category .location__body,
.panel_flights-category .date-picker-wrapper,
.panel_flights-category .travelers__body {
  bottom: auto !important;
  top: calc(100% + 1rem) !important;
}

@media only screen and (max-width: 1339px) {
  .panel__row {
    margin: 0;
  }
}

@media only screen and (max-width: 1179px) {
  .main__wrap {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .panel_stays,
  .panel_flights,
  .panel_tasks,
  .panel_cars {
    margin-top: -175px;
  }

  .footer__col:nth-child(3) {
    padding-left: 0;
  }

  .panel__search {
    width: 3rem;
    height: 3rem;
  }
}

@media only screen and (max-width: 1023px) {
  .main__wrap {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .floating__arrows__center .slick-arrow {
    width: 2.25rem;
    height: 2.25rem;
  }

  .floating__arrows__center .slick-prev {
    left: 0.25rem;
  }

  .floating__arrows__center .slick-next {
    right: 0.25rem;
  }

  .panel__item__rounded .location__input,
  .panel__item__rounded .datepicker__input,
  .panel__item__rounded .travelers__content {
    padding-left: 0.75rem;
  }

  .panel__item__rounded .location__description,
  .panel__item__rounded .datepicker__description,
  .panel__item__rounded .travelers__description {
    left: 0.75rem;
  }

  .panel__search {
    transform: translateY(-0.125rem);
  }

  .footer__row {
    flex-wrap: wrap;
    padding-top: 64px;
  }

  .footer__logo {
    margin-right: auto;
  }

  .footer__col:first-child {
    flex-direction: row;
    width: 100%;
    margin-bottom: 48px;
  }

  .footer__col:nth-child(2) {
    margin-right: auto;
    flex: 0 0 65%;
    margin-bottom: 48px;
  }

  .footer__col:nth-child(3) {
    width: 212px;
  }

  .footer__menu {
    margin: 0;
  }

  .panel_stays,
  .panel_flights,
  .panel_tasks,
  .panel_cars {
    margin-top: -164px;
  }

  .header__wrapper {
    justify-content: flex-end;
  }

  .setting__menu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    background-color: #ffffff;
    z-index: 99;
    transition: 300ms;
    opacity: 0;
    visibility: hidden;
  }

  .setting__menu.show {
    right: 0;
    opacity: 1;
    visibility: visible;
  }

  .show__menu__button {
    display: inline-block;
  }
}

@media only screen and (max-width: 767px) {
  .main_stays .main__title,
  .main_flights .main__title {
    margin-left: auto;
    margin-right: auto;
  }

  .panel__item__rounded .location__input,
  .panel__item__rounded .datepicker__input,
  .panel__item__rounded .travelers__content {
    padding-left: 2.5rem;
  }

  .panel__item__rounded .location__icon,
  .panel__item__rounded .datepicker__icon,
  .panel__item__rounded .travelers__icon {
    left: 0.5rem;
  }

  .panel__item__rounded .location__description,
  .panel__item__rounded .datepicker__description,
  .panel__item__rounded .travelers__description {
    left: 2.5rem;
  }

  .datepicker__list {
    margin-top: -0.25rem;
  }

  .planing__buttons {
    gap: 1rem;
  }

  .panel_stays,
  .panel_flights,
  .panel_tasks,
  .panel_cars {
    margin-top: -260px;
  }

  .main__preview img {
    object-position: 50% 65%;
  }

  .header__item[href] {
    margin-left: 2rem;
  }

  .header__wrapper {
    justify-content: flex-start;
  }

  .panel_stays .panel__item__rounded.datepicker__item {
    flex: 1;
    width: 100%;
  }

  .panel__row {
    display: flex;
    flex-wrap: wrap;
  }

  .panel_flights .panel__row > div,
  .panel__row > div {
    flex: 0 0 100% !important;
  }

  .datepicker__list {
    margin-top: 0;
  }

  .panel_flights-category .panel__row > .datepicker:not(.datepicker__single),
  .panel_flights .panel__row > .datepicker:not(.datepicker__single) {
    flex: 0 0 100% !important;
  }

  .panel_flights-category .panel__row > div {
    flex: 0 0 100% !important;
  }
}

@media only screen and (max-width: 575px) {
  .footer__menu__widget {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem 1rem;
  }

  .footer__menu {
    flex: 0 0 45%;
  }

  .footer__menu__sm {
    display: block;
  }

  .footer__social__lg {
    display: none;
  }
}
